@import url("http://fonts.googleapis.com/css?family=Poppins:wght@200;400;700&display=swap");

body {
  background-color: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

.hidden {
    opacity: 0;
    transition: all 1s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }    
}
.show{
    opacity: 1;
}